@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
<div class="col-8">
<h1>Welcome to Contact Managment</h1>
</div>
@if(User.Identity.IsAuthenticated)
    {
        <div class="col-4">
            <a class="btn btn-primary float-right" asp-controller="Contact" asp-action="Create">New Contact</a>
        </div>
    }
</div>

<div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
  <label class="list-group-item rounded-3 py-3">
    First radio
    <span class="d-block small opacity-50">With support text underneath to add more detail</span>
  </label>

  <label class="list-group-item rounded-3 py-3">
    Second radio
    <span class="d-block small opacity-50">Some other text goes here</span>
  </label>

  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
    Third radio
    <span class="d-block small opacity-50">And we end with another snippet of text</span>
  </label>

  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios4">
    Fourth disabled radio
    <span class="d-block small opacity-50">This option is disabled</span>
  </label>
</div>